name: Tezos CI/CD Pipeline
on: [push, pull_request]

jobs:
  test:
    name: linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Cache Gradle and wrapper
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: cache-${{ runner.os }}-${{ matrix.jdk }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Run Linter
        run: bash ./gradlew lint --stacktrace